@import '../../variables.scss';

.bike-list-container {
    position: relative;

    height: $bike-card-size;
    max-height: $bike-card-max-size;
    min-height: $bike-card-min-size;
    width: 100%;
    max-width: 750px;
    margin: auto;

    &_theme-tall {
        $tall-container: 25vh;
        height: $tall-container;
        min-height:  $tall-container;
        max-height:  $tall-container;
    }
}


@media screen and (min-width: 1919px) {
    .bike-list-container {
        margin-left: 25vw;
    }
}

@media screen and (max-width: 1918px) {
    .bike-list-container {
        margin: auto;
    }
}

@media screen and (max-width: 1278px) {
    .bike-list-container {
        margin-left: 15vw;
    }
}
