@font-face {
    font-family: 'Neon';
    src: url('./fonts/Nickainley-Normal.ttf');
}

@font-face {
    font-family: 'Neon-LasEnter';
    src: url('./fonts/LasEnter.ttf');
}

@font-face {
    font-family: 'QuickSand';
    src: url('./fonts/Quicksand-VariableFont_wght.ttf');
}